{% extends '_base.html' %}
{% load blog_extras %}

{% load static %}

{% block title %}Profile Page{% endblock title %}

{% block content %}



    <div class="perfil">

        <div class="perfilIMG">
            {% if user_dados.perfilIMG %}
            <img class="perfilIMG" src="{{ user_dados.perfilIMG.url }}" alt="{{ user_dados.username }}">
            {% else %}
            <img class="perfilIMG" src="{% static 'images/usersIMG/avatar-default.svg' %}" alt="{{ user_dados.username }}">
            {% endif %}
        </div>
        <div class="perfilDADOS">
            {% if user_dados.pk == user.pk %}
            <p> <a href="{% url 'profile_edit' user.pk %}"><img class="mini-icon" src="{% static 'images/icons/edit.svg' %}"> Editar perfil</a>
            {% endif %}
            <p>Usuário: {{ user_dados.username }}</p>
            <p class="badgesTAG"><img class="badges" src="{{ user_dados.badge.badgeIMG.url }}" alt=""> {{ user_dados.badge.title }}</p>
            <p>Data de nascimento: {{ user_dados.birth_date }}</p>
            <h3>BIOGRAFIA:</h3>
            <p>{{ user_dados.bio|convert_markdown|safe }}</p>
        </div>


    </div>



{% endblock content %}

