{% load static %}
{% block content %}




<!-- Barra de Navegação INICIO -->
<header>
    <h2 style="place-self: center;"><a href="{% url 'home' %}">BookBlog</a></h2>
    
    <div class="menuPrincipal">
        <a href="{% url 'home' %}">Inicio</a>
        <a href="{% url 'forum_list' %}">Fórum</a>
        <a href="#">Notícias</a>
        {% if user.is_authenticated %}
        <button class="btnLogin" onclick="window.location.href='{% url 'profile' user.pk %}';">Minha Conta</button>
        <button class="btnLogin Logout" onclick="window.location.href='{% url 'account_logout' %}';">Logout</button>
        {% else %}
        <button class="btnLogin" onclick="window.location.href='{% url 'account_login' %}';">Login</button>
        {% endif %}
    </div>
</header>
<!-- Barra de Navegação FIM-->



{% endblock content %}
