.categoria{
  margin: 25px;
  margin-bottom: 50px;
}

.categoria .categoria_title{
  background-color: #00c5ff;
  border-radius: 5px;
  height: 50px;
  display: flex;
  border: 2px solid black;
}
.categoria_title p{
  font-size: 23px;
  font-family: 'Abel', sans-serif;
  margin-left: 5px;
}
.topicos{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}