.categoria{
  margin: 25px;
  margin-bottom: 50px;
}

.categoria_title p{
  font-size: 23px;
  font-family: 'Abel', sans-serif;
  margin-left: 5px;
}
.topicos{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.topicoPrincipal{
  font-family: 'Abel', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topicoTopo{
text-align-last: center;
}