@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.forumBase{
    border: 2px solid black;
    padding: 5%;
}

.categoriaForum h2{
    font-size: 2em;
    padding: 10px;
    background-color: #00c5ff;
    border-radius: 9px;
    font-family: 'Righteous', cursive;
    letter-spacing: 2px;
}


.topicoForum{
    display: flex;
    justify-content: space-between;
    border-radius: 9px;
}

.topicoForum p{
    padding: 5px;
    font-size: 1.1em;
    letter-spacing: 1.5px;
}