{% extends '_base.html' %}
{% load static %}

{% block title %}Fórum Book{% endblock title %}
{% block content %}

<div class="alert alert-primary" role="alert" style="text-align-last: center;">
    <p>Seja bem vindo {{ user.username }} , que tal curtir um pouco nossa comunidade? Crie você mesmo seu próprio tópico: <a href="{% url 'add_book' %}">CRIAR NOVO TÓPICO</a></p>
</div>


<div class="forumBase">
    {% for x in category %}
    <div class="categoriaForum">
        <h2>{{ x.title }}</h2>
        {% for book in x.categoria.all %}
        <div class="topicoForum">
                <p><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></p>
                <p>Autor do tópico: {{ book.author }} - Criado em: {{ book.created }}</p>
            </div>
            <hr>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock content %}