{% extends '_base.html' %}
{% load static %}

{% block title %}{{ book.title }}{% endblock title %}
{% block content %}
<!-- TÓPICO -->
<div class="topico_principal">
    <div class="topico_topo">
        <h1>{{ book.title }}</h1>
        <p>Autor do tópico: {{ book.author }}</p>
        <hr>
    </div>
    <div class="topico_conteudo">
        <p>{{ book.texto }}</p>
    </div>
    <hr>
</div>
<!-- COMENTÁRIOS -->
<div>
    <h3>Comentários</h3>
    <a href="{{ book.get_absolute_url }}/addcomment/">Adicionar comentário...</a>
    <ul>
    {% for review in book.reviews.all %}
        <li>{{ review.review }} ({{ review.author }})</li>
        {% if review.author == user_name %}
        <p> <a href="{{ book.get_absolute_url }}/{{ review.pk }}/editcomment"><img class="mini-icon" src="{% static 'images/icons/edit.svg' %}"> Editar</a> ||<a href="{{ book.get_absolute_url }}/{{ review.pk }}/deletecomment"> <img class="mini-icon" src="{% static 'images/icons/delete.svg' %}"> Deletar</p></a>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endblock content %}